
.wrapper{
  position: relative;
}
.layout{
  display: grid;
  grid-template-columns: 20% 1fr;
  height: 100vh;
  @include tab{
    grid-template-columns: 1fr; /* 1列レイアウト */
    grid-template-rows: auto 1fr; /* サイドバーを上、コンテンツを下に配置 */
    height: auto; /* 高さの制約を解除 */
  }
}
.header{
  background: $primary-color-grad;
  color: $BaseColor1;
  height: 100vh;
  width: 100%;
  padding: 24px 0;
  position: sticky;
  top: 0;
  overflow-y: auto;
  z-index: 101;
  @include tab{
    position: fixed; /* `sticky` を解除 */
    height: auto; /* 高さを自動調整 */
    padding: 24px;
    overflow-y: initial;
  }
}
.header__logo{
  a{
    font-size: 20px;
    margin-bottom: 24px;
    padding: 0 24px;
    display: block;
    color: $neutral-white;
    text-decoration: none;
    @include tab{
      margin-bottom: 0;
      padding: 0;
    }
  }
}
.header__nav-links{
  @include tab{
    display: none;
  }
  li{
    list-style: none;
    border-top: 1px solid $neutral-white;
    a{
      color: $neutral-white;
      text-decoration: none;
      padding: 16px 24px;
      display: block;
      transition: all 0.3s ease;
      &:hover{
        background: $tertiary-color;
      }
    }
  }
}
.menu-toggle {
  display: none;
  @include tab{
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 56px;
    width: 48px;
    padding: 0;
    position: absolute;
    top: 16px;
    right: 24px;
    z-index: 100;
  }
}

.menu-icon {
  background-color: $neutral-white;
  height: 3px;
  width: 100%;
  border-radius: 5px;
  transition: all 0.4s ease-in-out 0s;
}
.menu-label{
    font-size: 14px;
    color: $neutral-white;
    padding: 0 7px;
    transition: all 0.3s ease-in-out 0s;
  }

.active{
  .menu-toggle{
    top: 24px;
    .menu-icon{
      @include tab{
        &:nth-child(1){
          -webkit-transform: translateY(0) rotate(225deg);
          -ms-transform: translateY(0) rotate(225deg);
          transform: translateY(0) rotate(225deg);
          position: absolute;
          top: 10px;
          background-color: $neutral-white;
        }
        &:nth-child(2){
          -webkit-transform: translateY(0) rotate(-225deg);
          -ms-transform: translateY(0) rotate(-225deg);
          transform: translateY(0) rotate(-225deg);
          background-color: $neutral-white;
        }
        &:nth-child(3){
          display: none;
        }
      }
    }
    .menu-label{
      color: $neutral-white;
    }
  }
  .header__nav-links{
    @include tab{
      display: block;
      position: absolute;
      height: 100vh;
      background: $primary-color-grad;
      top: 0;
      width: 100%;
      left: 0;
      padding: 104px 0 24px;
      text-align: center;
      transition: all 0.3s ease-in-out;
      overflow-y: auto;
    }
  }
    li{
      a{
        @include tab{
          display: block;
          padding: 24px;
          border-bottom: 1px solid $neutral-white;
          color: $neutral-white;
        }
      }
    }
  }

.maincontents{
  padding: 48px;
  overflow-y: auto;
  width: 100%;
  margin: 0 auto;
  background-color: $neutral-glay;
  @include tab{
    padding: 96px 24px 48px;
  }
}
.firstview{
  max-width: 80%;
  @include tab{
    padding: 0;
    margin-bottom: 48px;
    max-width: 100%;
  }
}
.fv__ttl{
  font-size: 48px;
  margin-bottom: 24px;
  @include tab{
    font-size: 32px;
  }
  @include sp{
    font-size: 24px;
  }
}
.fv__caption{
  font-size: 20px;
  margin-bottom: 24px;
}

.fv__contents{
  background-color: $neutral-white;
  margin-bottom: 48px;
}
.fv__index-ttl{
  padding: 16px 24px;
  font-size: 24px;
  line-height: 1;
  color: $neutral-white;
  background: $primary-color-grad;
}
.fv__cont-list{
  display: flex;
  flex-wrap: wrap;
  @include sp{
    padding: 0;
  }
  li{
    width: 33.3%;
    list-style-type:none;
    @include sp{
      width: 50%;
    }
    a{
      color: $secondary-color;
      text-decoration: none;
      padding: 16px;
      display: block;
      text-align: center;
      color: $neutral-black;
      border: 1px solid $primary-color-plain;
      transition: all 0.3s ease;
      @include sp{
        padding: 8px 16px;
      }
      &:hover{
        background-color: $tertiary-color;
        color: $neutral-white;
      }
    }
  }
}

.acco__card{
  background-color: $neutral-white;
  border: 1px solid $neutral-glay;
  padding: 24px;
  border-radius: 8px;
  position: relative;
  margin-bottom: 24px;
  &:last-child{
    mask-border: 0;
  }
}

.acco__ttl{
  @include sp{
    width: 80%;
  }
}

.acco__answer{
  margin-top: 16px;
  display: none;
}

.acco__btn-arrow{
  position: absolute;
  top: 16px;
  right: 24px;
  transition: all 0.3s ease;
  -webkit-transform: translateY(0) rotate(-90deg);
  -ms-transform: translateY(0) rotate(-90deg);
  transform: translateY(0) rotate(-90deg);
  i{
    font-size: 48px;
    color: $primary-color-plain;
    cursor: pointer;
  }
}
.turn.acco__btn-arrow {
  -webkit-transform: translateY(0) rotate(0deg);
  -ms-transform: translateY(0) rotate(0deg);
  transform: translateY(0) rotate(0deg);
}

.acco__btn-plus{
  top: 16px;
  right: 16px;
  width: 44px;
  height: 44px;
  background:$primary-color-plain;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  @include sp{
    display: block;
  }
}

.acco__btn-plus::before,
.acco__btn-plus::after {
  content: "";
  position: absolute;
  background-color: $neutral-white;
  transition: all 0.3s ease-in-out;
}

.acco__btn-plus::before {
  width: 60%;
  height: 3px;
  top: 21px;
  left: 9px;
}

.acco__btn-plus::after {
  width: 3px;
  height: 60%;
  top:  9px;
  left: 21px;
}

.turn.acco__btn-plus::before,
.turn.acco__btn-plus::after {
  -webkit-transform: translateY(0) rotate(135deg);
  -ms-transform: translateY(0) rotate(135deg);
  transform: translateY(0) rotate(135deg);
}

.input__cont-bad{
  margin-left: 24px;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  @include sp{
    margin-left: 16px;
  }
}

.input__cont-good{
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  @include sp{
    margin-left: 16px;
  }
}

.input__form-good1{
  max-width: 400px;
  width: 100%;
}
.input__form-good2{
  max-width: 56px;
  width: 100%;
}
.input__form-good3{
  max-width: 230px;
  width: 100%;
}

.input__cont-ttl{
  color: $primary-color-plain;
  margin-left: -24px;
  @include sp{
    margin-left: -16px;
  }
}

.black__cont{
  display: flex;
  gap: 24px;
  margin-bottom: 48px;
  @include sp{
    flex-wrap: wrap;
  }
}
.black__box--01{
  padding: 24px;
  font-size: 20px;
  width: 100%;
  max-width: 200px;
  background-color: #000;
  color: $neutral-white;
  text-align: center;
}
.black__box--02{
  padding: 24px;
  font-size: 20px;
  width: 100%;
  max-width: 200px;
  background-color: #1c1c1c;
  color: $neutral-white;
  text-align: center;
}
.black__box--03{
  padding: 24px;
  font-size: 20px;
  width: 100%;
  max-width: 200px;
  background-color: #212121;
  color: $neutral-white;
  text-align: center;
}
.black__list{
  li{
    padding: 16px;
    font-size: 16px;
    list-style: none;
    margin-bottom: 16px;
    background-color:$neutral-white;
    &:nth-child(1){
      color: #000;
    }
    &:nth-child(2){
      color: #1c1c1c;
    }
    &:nth-child(3){
      color: #212121;
    }
  }
}

.btn__label-cont{
  display: flex;
  gap: 48px;
  @include sp{
    gap: 24px;
  }
}

.btn__cont{
  display: flex;
  gap: 48px;
  margin-bottom: 24px;
  @include sp{
    gap: 24px;
    flex-wrap: wrap;
  }
}
.btn{
  max-width: 230px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  padding: 20px 8px;
  background:$primary-color-grad;
  color: $neutral-white;
  border-radius: 100px;
  font-weight: 500;
  display: block;
  transition: all 0.3s ease;
  text-decoration: none;
  &:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px); 
    background: linear-gradient(135deg, #a555e8 0%, #299bef 100%);
  }
  &:active{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transform: translateY(0px);
    background: $primary-color-grad; 
  }
  @include sp{
    max-width: 100%;
    padding: 16px 8px;
  }
}

.btn--default{
  background: none;
  background-color:#a565f8;
  &:hover{
    box-shadow: none;
    background: none;
    background-color:#a565f8;
    transform: translateY(0);
  }
}

.btn--hover{
  background: none;
  background-color:#8951d1;
  &:hover{
    box-shadow: none;
    background: none;
    background-color:#8951d1;
    transform: translateY(0);
  }
}

.btn--press{
  background: none;
  background-color:#6c3da9;
  &:hover{
    box-shadow: none;
    background: none;
    background-color:#6c3da9;
    transform: translateY(0);
  }
}

.btn--focus{
  background: none;
  background-color:#a565f8;
  outline: 4px solid #005FCC;
  &:hover{
    box-shadow: none;
    background: none;
    background-color:#a565f8;
    transform: translateY(0);
  }
}

.btn--wrong01{
  background: $secondary-color;
  &:hover{
    background: #41019d;
  }
}
.btn--wrong02{
  background: $tertiary-color;
  &:hover{
    background: #bd96ef;
  } 
}
.btn--good01{
  background: $neutral-white;
  border: 1px solid $primary-color-plain;
  color: $primary-color-plain;
  &:hover{
    border-color: $secondary-color;
    color: $secondary-color;
    background: $neutral-white;
  }
}
.btn--good02{
  color: $primary-color-plain;
  max-width: 230px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  padding: 20px 8px;
  transition: all 0.3s ease-in-out;
  &:hover{
    color: $secondary-color;
  }
}

.btn--wrong03{
  &:hover{
    border: 1px solid $secondary-color;
    background: $neutral-white;
    color: $secondary-color;
    box-shadow: none;
    transform: translateY(0px); 
    padding: 19px 8px;
  }
}

.timing__cont{
  display: flex;
  gap: 48px;
  flex-wrap: wrap;
}
.btn--ease{
  transition: all 0.5s ease;
}
.btn--linear{
  transition: all 0.5s linear;
}
.btn--easein{
  transition: all 0.5s ease-in;
}
.btn--easeout{
  transition: all 0.5s ease-out;
}
.btn--easeinout{
  transition: all 0.5s ease-in-out;
}


.bibli-list{
  li{
    a{
      word-wrap: break-word; /* 長い単語やURLを途中で折り返す */
      overflow-wrap: break-word;
      display: block;
      max-width: 100%; /* 親要素の幅を超えないようにする */
      color: $neutral-black;
      text-decoration: none;
      transition: all 0.3s ease;
      &:hover{
        color: $primary-color-plain;
        text-decoration: underline;
      }
    }
  }
}

// 現在地を示すアニメーション
.header__nav-links li a.current {
  background-color: $tertiary-color;
}
