.box{
  padding: 24px;
  background-color: $BgSubtle;
  margin-bottom: 16px;
  border-radius: 8px;
  @include sp{
    padding: 24px 16px;
    margin: 24px 16px;
  }
}

.box-label{
  margin-bottom: 24px;
}
.section{
  max-width: 864px;
  width: 100%;
  margin: 0 auto 48px;
  padding: 32px 48px;
  background-color: $BgDefault;
  border-radius: 12px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
  @include tab{
    max-width: 100%;
  }
  @include sp{
    padding: 20px;
  }
}

.block{
  margin-bottom: 32px;
}
.section-mini{
  border: 1px solid $BorderDefault;
  border-radius: 12px;
  padding: 24px;
  margin-bottom: 24px;
  @include sp{
    padding: 20px;
  }
}
.section-hed2{
  font-size: 48px;
  line-height: 1.5;
  color: $TextPrimarySubtle;
  margin-bottom: 24px;
  @include tab{
    font-size: 36px;
  }
  @include sp{
    font-size: 28px;
  }
}
.section-hed3{
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 16px;
  color: $TextPrimaryHeading;
  @include tab{
    font-size: 20px;
  }

  .icon--h3{
    margin-right: 8px;
    vertical-align: middle;
    // height: 1em;
  }
}
.section-hed4{
  margin-bottom: 8px;
  font-size: 16px;
  color: $TextPrimaryHeading;
  line-height: 1.5;

  .icon--h4{
    margin-right: 8px;
    vertical-align: middle;
    // height: 1em;
  }
}
.section-p{
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 1.75;
  color: $TextDefault;

  a{
    color: $TextPrimarySubtle;
    text-decoration: underline;
    transition: all 0.3s ease;
    &:hover{
      color: $TextPrimaryDefault;
    }
  }
}

.section-shade{
  background-color: $BgSubtle;
  padding: 24px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.section-list{
  margin-left: 16px;
  margin-bottom: 16px;
  @include sp{
    
  }
  li{
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.75;
    &:last-child{
      margin-bottom: 0;
    }
    a{
      color: $primary-color-plain;
      text-decoration: underline;
    }
  }
}

.section-table{
  width: 100%;
  margin: 0 auto 16px;
  border: 1px solid $BorderPrimary;
  td,th{
    border: 1px solid $BorderPrimary;
    padding: 8px;
    @include sp{
      font-size: 14px;
    }
  }
  thead{
    background-color: $BgPrimaryAccent;
    color: $TextInverse;
  }
}
.marker{
  background-image: linear-gradient(transparent 60%, $Marker 60%);
  font-weight: bold;
}

.code{
  background-color: $neutral-glay500;
  padding: 0 4px;
  margin: 0 4px;
  border-radius: 4px;
}

// 注釈：annotationの略
.anno{
  font-size: 14px;
  color: $neutral-glay800;
}