@charset "UTF-8";
/*
    リセットCSS等の基本設定
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans JP", "游明朝体", "Yu Mincho", "Meiryo UI", "Meiryo", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "Noto Sans Japanese", roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #343A40;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  overflow-x: hidden;
  letter-spacing: 0.04em;
}

h1, h2, h3, h4, h5, h6,
a, p, span,
blockquote, code,
ol, ul, li, dl, dt, dd,
div, section, article, main, aside,
nav, header, footer,
img, figure, figcaption,
address, time, audio, video,
iframe, fieldset,
form, label, table, caption,
tbody, tfoot, thead,
tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}

article, aside, footer, header, nav, section, main {
  display: block;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

a {
  transition: all 0.3s ease;
}

a:focus-visible {
  outline: 4px solid #005FCC;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
  border: 1px solid #a97be3;
}

th, td {
  padding: 4px 6px;
  text-align: left;
  vertical-align: top;
  border: 1px solid #343A40;
}

input, textarea {
  padding: 8px;
  border: 1px solid #343A40;
  border-radius: 0;
  background-image: none;
  font-family: inherit;
  font-size: inherit;
  border-radius: 8px;
}
input:focus, textarea:focus {
  outline: none;
  border: 1px solid #343A40;
  box-shadow: none;
}

textarea {
  resize: none;
}

input[type=submit] {
  cursor: pointer;
  border: none;
}
input[type=submit]:hover, input[type=submit]:focus {
  outline: none;
  border: none;
}
input[type=submit] ::-moz-focus-inner {
  padding: 0;
  border: none;
}
input[type=radio] {
  display: none;
}
input[type=radio] + span {
  display: inline-block;
  position: relative;
  padding: 0 0 0 1.2em;
  margin: 0 0.2em 0;
  cursor: pointer;
}
input[type=radio] + span::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #fff;
  border: 1px solid #343A40;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  display: block;
}
input[type=radio] + span::after {
  opacity: 0;
  transition: opacity 0.3s ease 0s;
}
input[type=radio] + span:focus, input[type=radio] + span:checked {
  outline: none;
  border: 1px solid #fff;
  box-shadow: none;
  background: #343A40;
}
input[type=radio]:checked + span::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0.2em;
  transform: translateY(-50%);
  background: #343A40;
  border-radius: 50%;
  width: 0.6em;
  height: 0.6em;
  display: block;
  opacity: 1;
}
input[type=checkbox] {
  display: none;
}
input[type=checkbox] + span {
  display: inline-block;
  position: relative;
  padding: 0 0 0 1.2em;
  margin: 0 0.2em 0;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
input[type=checkbox] + span::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #fff;
  border: 1px solid #343A40;
  border-radius: 2px;
  width: 1em;
  height: 1em;
  display: block;
}
input[type=checkbox] + span::after {
  opacity: 0;
  transition: opacity 0.3s ease 0s;
}
input[type=checkbox]:checked + span::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(-45deg);
  width: 1em;
  height: 0.6em;
  margin-top: -0.2em;
  display: block;
  border-left: 3px solid #343A40;
  border-bottom: 3px solid #343A40;
  opacity: 1;
}

select {
  width: 100%;
  padding: 8px 24px 8px 8px;
  border-radius: 0;
  background-image: none;
  border: 1px solid #343A40;
  font-family: inherit;
  font-size: 1em;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
select:focus {
  outline: none;
  border: 1px solid #343A40;
  box-shadow: none;
}

.hidden {
  display: none;
}

.wrapper {
  overflow: hidden;
}

.box {
  padding: 24px;
  background-color: #f0f0f0;
  margin-bottom: 16px;
  border-radius: 8px;
}
@media (max-width: 768px) {
  .box {
    padding: 16px;
  }
}

.box-label {
  margin-bottom: 24px;
}

.section {
  max-width: 864px;
  width: 100%;
  margin: 0 auto 48px;
  padding: 32px 48px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
}
@media (max-width: 992px) {
  .section {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .section {
    padding: 16px;
  }
}

.block {
  margin-bottom: 32px;
}

.section-mini {
  border: 1px solid #d6d6d6;
  border-radius: 12px;
  padding: 24px;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .section-mini {
    padding: 16px;
  }
}

.section-hed2 {
  font-size: 48px;
  line-height: 1.5;
  color: #8971ff;
  margin-bottom: 24px;
}
@media (max-width: 992px) {
  .section-hed2 {
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  .section-hed2 {
    font-size: 28px;
  }
}

.section-hed3 {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 16px;
  color: #1a1051;
}
@media (max-width: 992px) {
  .section-hed3 {
    font-size: 20px;
  }
}
.section-hed3 .icon--h3 {
  margin-right: 8px;
  vertical-align: middle;
}

.section-hed4 {
  margin-bottom: 8px;
  font-size: 16px;
  color: #1a1051;
  line-height: 1.5;
}
.section-hed4 .icon--h4 {
  margin-right: 8px;
  vertical-align: middle;
}

.section-p {
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 1.75;
  color: #313131;
}
.section-p a {
  color: #8971ff;
  text-decoration: underline;
  transition: all 0.3s ease;
}
.section-p a:hover {
  color: #6b4eff;
}

.section-shade {
  background-color: #f0f0f0;
  padding: 24px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.section-list {
  margin-left: 16px;
  margin-bottom: 16px;
}
.section-list li {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.75;
}
.section-list li:last-child {
  margin-bottom: 0;
}
.section-list li a {
  color: #6f23d0;
  text-decoration: underline;
}

.section-table {
  width: 100%;
  margin: 0 auto 16px;
  border: 1px solid #c4b8ff;
}
.section-table td, .section-table th {
  border: 1px solid #c4b8ff;
  padding: 8px;
}
@media (max-width: 768px) {
  .section-table td, .section-table th {
    font-size: 14px;
  }
}
.section-table thead {
  background-color: #a695ff;
  color: #fff;
}

.marker {
  background-image: linear-gradient(transparent 60%, #e5ddff 60%);
  font-weight: bold;
}

.code {
  background-color: #e0e0e0;
  padding: 0 4px;
  margin: 0 4px;
  border-radius: 4px;
}

.anno {
  font-size: 14px;
  color: #909090;
}

.wrapper {
  position: relative;
}

.layout {
  display: grid;
  grid-template-columns: 280px 1fr;
  height: 100vh;
}
@media (max-width: 992px) {
  .layout {
    grid-template-columns: 1fr; /* 1列レイアウト */
    grid-template-rows: auto 1fr; /* サイドバーを上、コンテンツを下に配置 */
    height: auto; /* 高さの制約を解除 */
  }
}

.header {
  background: #fff;
  color: #2e1f7c;
  height: 100vh;
  width: 100%;
  padding: 24px;
  position: sticky;
  top: 0;
  overflow-y: auto;
  z-index: 101;
  box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.1);
}
@media (max-width: 992px) {
  .header {
    position: fixed; /* `sticky` を解除 */
    height: 76px; /* 高さを自動調整 */
    padding: 24px;
    overflow-y: initial;
    box-shadow: none;
    background-color: #f5f5fc;
  }
}

.header__logo a {
  font-size: 20px;
  margin-bottom: 24px;
  padding: 0 24px;
  display: block;
  color: #6b4eff;
  text-decoration: none;
}
@media (max-width: 992px) {
  .header__logo a {
    margin-bottom: 0;
    padding: 0;
    display: none;
  }
}
.header__logo a .index--icon {
  margin-right: 8px;
  width: 32px;
  height: 32px;
  vertical-align: middle;
}

@media (max-width: 992px) {
  .header__nav-links {
    display: none;
  }
}
.header__nav-links li {
  list-style: none;
  border-top: 1px solid #fff;
  margin-bottom: 16px;
}
.header__nav-links li a {
  color: #fff;
  text-decoration: none;
  color: #2e1f7c;
  padding: 16px;
  display: block;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  line-height: 1;
  font-weight: bold;
}
.header__nav-links li a:hover {
  background: #f0edff;
  padding-left: 24px;
}

.menu-toggle {
  display: none;
}
@media (max-width: 992px) {
  .menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 56px;
    width: 48px;
    padding: 0;
    position: absolute;
    top: 16px;
    right: 24px;
    z-index: 100;
  }
}

.menu-icon {
  background-color: #6b4eff;
  height: 3px;
  width: 100%;
  border-radius: 5px;
  transition: all 0.4s ease-in-out 0s;
}

.menu-label {
  font-size: 14px;
  color: #6b4eff;
  padding: 0 7px;
  transition: all 0.3s ease-in-out 0s;
}

.active .menu-toggle {
  top: 24px;
}
@media (max-width: 992px) {
  .active .menu-toggle .menu-icon:nth-child(1) {
    transform: translateY(0) rotate(225deg);
    position: absolute;
    top: 10px;
    background-color: #fff;
  }
  .active .menu-toggle .menu-icon:nth-child(2) {
    transform: translateY(0) rotate(-225deg);
    background-color: #fff;
  }
  .active .menu-toggle .menu-icon:nth-child(3) {
    display: none;
  }
}
.active .menu-toggle .menu-label {
  color: #fff;
}
@media (max-width: 992px) {
  .active .header__nav-links {
    position: absolute;
    height: 100vh;
    background: #a695ff;
    top: 0;
    width: 100%;
    left: 0;
    padding: 104px 24px 24px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}
.active li {
  border: none;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .active li a {
    width: 100%;
    display: block;
    padding: 24px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 8px;
  }
}

.maincontents {
  padding: 48px;
  overflow-y: auto;
  width: 100%;
  margin: 0 auto;
  background-color: #f5f5fc;
}
@media (max-width: 992px) {
  .maincontents {
    padding: 96px 24px 48px;
  }
}
@media (max-width: 768px) {
  .maincontents {
    padding: 80px 16px 48px;
  }
}

.firstview {
  max-width: 864px;
  margin: 0 auto 48px;
}
@media (max-width: 992px) {
  .firstview {
    padding: 0;
    margin-bottom: 48px;
    max-width: 100%;
  }
}

.fv__ttl {
  font-size: 48px;
  margin-bottom: 8px;
  color: #6b4eff;
}
@media (max-width: 992px) {
  .fv__ttl {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  .fv__ttl {
    font-size: 24px;
  }
}
.fv__ttl .ttl--icon {
  vertical-align: middle;
}

.fv__subttl {
  font-size: 16px;
  margin-bottom: 24px;
  color: #7b7b7b;
  line-height: 1.75;
}

.fv__contents {
  background-color: #fff;
  margin-bottom: 48px;
}

.fv__index-ttl {
  padding: 16px 24px;
  font-size: 24px;
  line-height: 1;
  color: #fff;
  background: linear-gradient(135deg, #6f23d0 0%, #10bae9 100%);
}
@media (max-width: 768px) {
  .fv__index-ttl {
    font-size: 20px;
  }
}

.fv__cont-list {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .fv__cont-list {
    padding: 0;
  }
}
.fv__cont-list li {
  width: 33.3%;
  list-style-type: none;
}
@media (max-width: 768px) {
  .fv__cont-list li {
    width: 50%;
  }
}
.fv__cont-list li a {
  color: #43157d;
  text-decoration: none;
  padding: 16px;
  display: block;
  text-align: center;
  color: #343A40;
  border: 1px solid #6f23d0;
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  .fv__cont-list li a {
    padding: 8px 16px;
  }
}
.fv__cont-list li a:hover {
  background-color: #a97be3;
  color: #fff;
}

.acco__card {
  background-color: #fff;
  border: 1px solid #f0f0f0;
  padding: 24px;
  border-radius: 8px;
  position: relative;
  margin-bottom: 24px;
}
.acco__card:last-child {
  -webkit-mask-box-image: 0;
          mask-border: 0;
}

@media (max-width: 768px) {
  .acco__ttl {
    width: 80%;
  }
}

.acco__answer {
  margin-top: 16px;
  display: none;
}

.acco__btn-arrow {
  position: absolute;
  top: 16px;
  right: 24px;
  transition: all 0.3s ease;
  transform: translateY(0) rotate(-90deg);
}
.acco__btn-arrow i {
  font-size: 48px;
  color: #6f23d0;
  cursor: pointer;
}

.turn.acco__btn-arrow {
  transform: translateY(0) rotate(0deg);
}

.acco__btn-plus {
  top: 16px;
  right: 16px;
  width: 44px;
  height: 44px;
  background: #6f23d0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .acco__btn-plus {
    display: block;
  }
}

.acco__btn-plus::before,
.acco__btn-plus::after {
  content: "";
  position: absolute;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.acco__btn-plus::before {
  width: 60%;
  height: 3px;
  top: 21px;
  left: 9px;
}

.acco__btn-plus::after {
  width: 3px;
  height: 60%;
  top: 9px;
  left: 21px;
}

.turn.acco__btn-plus::before,
.turn.acco__btn-plus::after {
  transform: translateY(0) rotate(135deg);
}

.input__cont-bad {
  margin-left: 24px;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media (max-width: 768px) {
  .input__cont-bad {
    margin-left: 16px;
  }
}

.input__cont-good {
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media (max-width: 768px) {
  .input__cont-good {
    margin-left: 16px;
  }
}

.input__form-good1 {
  max-width: 400px;
  width: 100%;
}

.input__form-good2 {
  max-width: 56px;
  width: 100%;
}

.input__form-good3 {
  max-width: 230px;
  width: 100%;
}

.input__cont-ttl {
  color: #6b4eff;
  margin-right: -24px;
}
@media (max-width: 768px) {
  .input__cont-ttl {
    margin-left: -16px;
  }
}
.input__cont-ttl .example-label {
  vertical-align: middle;
  width: 32px;
  height: 32px;
}

.black__cont {
  display: flex;
  gap: 24px;
  margin-bottom: 48px;
}
@media (max-width: 768px) {
  .black__cont {
    flex-wrap: wrap;
  }
}

.black__box--01 {
  padding: 24px;
  font-size: 20px;
  width: 100%;
  max-width: 200px;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.black__box--02 {
  padding: 24px;
  font-size: 20px;
  width: 100%;
  max-width: 200px;
  background-color: #1c1c1c;
  color: #fff;
  text-align: center;
}

.black__box--03 {
  padding: 24px;
  font-size: 20px;
  width: 100%;
  max-width: 200px;
  background-color: #212121;
  color: #fff;
  text-align: center;
}

.black__list li {
  padding: 16px;
  font-size: 16px;
  list-style: none;
  margin-bottom: 16px;
  background-color: #fff;
}
.black__list li:nth-child(1) {
  color: #000;
}
.black__list li:nth-child(2) {
  color: #1c1c1c;
}
.black__list li:nth-child(3) {
  color: #212121;
}

.btn__label-cont {
  display: flex;
  gap: 48px;
}
@media (max-width: 768px) {
  .btn__label-cont {
    gap: 24px;
  }
}

.btn__cont {
  display: flex;
  gap: 48px;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .btn__cont {
    gap: 24px;
    flex-wrap: wrap;
  }
}

.btn {
  max-width: 230px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  padding: 20px 8px;
  background: #6b4eff;
  color: #fff;
  border-radius: 100px;
  font-weight: 500;
  display: block;
  transition: all 0.3s ease;
  text-decoration: none;
}
.btn:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
  background-color: #573ed3;
}
.btn:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transform: translateY(0px);
  background: linear-gradient(135deg, #6f23d0 0%, #10bae9 100%);
}
@media (max-width: 768px) {
  .btn {
    max-width: 100%;
    padding: 16px 8px;
  }
}

.btn--default {
  background: none;
  background-color: #6b4eff;
}
.btn--default:hover {
  box-shadow: none;
  background: none;
  background-color: #6b4eff;
  transform: translateY(0);
}

.btn--hover {
  background: none;
  background-color: #573ed3;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}
.btn--hover:hover {
  box-shadow: none;
  background: none;
  background-color: #573ed3;
  transform: translateY(0);
}

.btn--press {
  background: none;
  background-color: #432fa8;
}
.btn--press:hover {
  box-shadow: none;
  background: none;
  background-color: #432fa8;
  transform: translateY(0);
}

.btn--focus {
  background: none;
  background-color: #6b4eff;
  outline: 4px solid #005FCC;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}
.btn--focus:hover {
  box-shadow: none;
  background: none;
  background-color: #6b4eff;
  transform: translateY(0);
}

.btn--wrong01 {
  background: #432fa8;
}
.btn--wrong01:hover {
  background: #432fa8;
}

.btn--wrong02 {
  background: #c4b8ff;
}
.btn--wrong02:hover {
  background: #c4b8ff;
}

.btn--good01 {
  background: #fff;
  border: 1px solid #6b4eff;
  color: #6b4eff;
}
.btn--good01:hover {
  background: #fff;
  border: 1px solid #6b4eff;
  color: #6b4eff;
}

.btn--good02 {
  color: #6b4eff;
  max-width: 230px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  padding: 20px 8px;
  transition: all 0.3s ease-in-out;
}
.btn--good02:hover {
  color: #6b4eff;
}

.btn--wrong03:hover {
  border: 1px solid #43157d;
  background: #fff;
  color: #43157d;
  box-shadow: none;
  transform: translateY(0px);
  padding: 19px 8px;
}

.timing__cont {
  display: flex;
  gap: 48px;
  flex-wrap: wrap;
}

.btn--ease {
  transition: all 0.5s ease;
}

.btn--linear {
  transition: all 0.5s linear;
}

.btn--easein {
  transition: all 0.5s ease-in;
}

.btn--easeout {
  transition: all 0.5s ease-out;
}

.btn--easeinout {
  transition: all 0.5s ease-in-out;
}

.bibli-list li a {
  word-wrap: break-word; /* 長い単語やURLを途中で折り返す */
  overflow-wrap: break-word;
  display: block;
  max-width: 100%; /* 親要素の幅を超えないようにする */
  color: #313131;
  text-decoration: none;
  transition: all 0.3s ease;
}
.bibli-list li a:hover {
  color: #6b4eff;
  text-decoration: underline;
}

.header__nav-links li a.current {
  background-color: #f0edff;
}
@media (max-width: 992px) {
  .header__nav-links li a.current {
    background-color: #6b4eff;
    border: 1px solid #6b4eff;
  }
}/*# sourceMappingURL=style.css.map */