@charset "UTF-8";
/*
    リセットCSS等の基本設定
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans JP", "游明朝体", "Yu Mincho", "Meiryo UI", "Meiryo", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "Noto Sans Japanese", roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #343A40;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6,
a, p, span,
blockquote, code,
ol, ul, li, dl, dt, dd,
div, section, article, main, aside,
nav, header, footer,
img, figure, figcaption,
address, time, audio, video,
iframe, fieldset,
form, label, table, caption,
tbody, tfoot, thead,
tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}

article, aside, footer, header, nav, section, main {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
  border: 1px solid #343A40;
}

th, td {
  padding: 4px 6px;
  text-align: left;
  vertical-align: top;
  border: 1px solid #343A40;
}

input, textarea {
  padding: 8px;
  border: 1px solid #343A40;
  border-radius: 0;
  background-image: none;
  font-family: inherit;
  font-size: inherit;
  -webkit-appearance: none;
}
input:focus, textarea:focus {
  outline: none;
  border: 1px solid #343A40;
  box-shadow: none;
}

textarea {
  resize: none;
}

input[type=submit] {
  cursor: pointer;
  border: none;
}
input[type=submit]:hover, input[type=submit]:focus {
  outline: none;
  border: none;
}
input[type=submit] ::-moz-focus-inner {
  padding: 0;
  border: none;
}
input[type=radio] {
  display: none;
}
input[type=radio] + span {
  display: inline-block;
  position: relative;
  padding: 0 0 0 1.2em;
  margin: 0 0.2em 0;
  cursor: pointer;
}
input[type=radio] + span::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #fff;
  border: 1px solid #343A40;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  display: block;
}
input[type=radio] + span::after {
  opacity: 0;
  transition: opacity 0.3s ease 0s;
}
input[type=radio] + span:focus, input[type=radio] + span:checked {
  outline: none;
  border: 1px solid #fff;
  box-shadow: none;
  background: #343A40;
}
input[type=radio]:checked + span::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0.2em;
  transform: translateY(-50%);
  background: #343A40;
  border-radius: 50%;
  width: 0.6em;
  height: 0.6em;
  display: block;
  opacity: 1;
}
input[type=checkbox] {
  display: none;
}
input[type=checkbox] + span {
  display: inline-block;
  position: relative;
  padding: 0 0 0 1.2em;
  margin: 0 0.2em 0;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
input[type=checkbox] + span::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #fff;
  border: 1px solid #343A40;
  border-radius: 2px;
  width: 1em;
  height: 1em;
  display: block;
}
input[type=checkbox] + span::after {
  opacity: 0;
  transition: opacity 0.3s ease 0s;
}
input[type=checkbox]:checked + span::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(-45deg);
  width: 1em;
  height: 0.6em;
  margin-top: -0.2em;
  display: block;
  border-left: 3px solid #343A40;
  border-bottom: 3px solid #343A40;
  opacity: 1;
}

select {
  width: 100%;
  padding: 8px 24px 8px 8px;
  border-radius: 0;
  background-image: none;
  border: 1px solid #343A40;
  font-family: inherit;
  font-size: 1em;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
}
select::-ms-expand {
  display: none;
}
select:focus {
  outline: none;
  border: 1px solid #343A40;
  box-shadow: none;
}

.hidden {
  display: none;
}

.wrapper {
  overflow: hidden;
}

.box {
  padding: 24px 48px;
  background-color: #f0f0f0;
  margin: 24px;
}

.box-label {
  margin-bottom: 24px;
}

.section {
  max-width: 80%;
  width: 100%;
  margin-bottom: 48px;
  padding-bottom: 24px;
  background-color: #fff;
}

.section-mini {
  margin-bottom: 24px;
}

.section-hed2 {
  font-size: 24px;
  padding: 24px;
  background: linear-gradient(135deg, #a565f8 0%, #39abff 100%);
  color: #fff;
  margin-bottom: 24px;
  line-height: 1;
}

.section-hed3 {
  padding: 16px;
  border-left: 8px solid transparent;
  -o-border-image: linear-gradient(135deg, #a565f8 0%, #39abff 100%);
     border-image: linear-gradient(135deg, #a565f8 0%, #39abff 100%);
  border-image-slice: 1;
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 1;
  margin-left: 24px;
}

.section-p {
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 1.75;
  padding: 0 48px;
}

.section-list {
  padding: 0 48px 24px;
  margin-left: 16px;
}
.section-list li {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.75;
}

.section-table {
  width: 90%;
  margin: 0 auto 24px;
}

.wrapper {
  position: relative;
}

.header {
  background: linear-gradient(135deg, #a565f8 0%, #39abff 100%);
  color: #fff;
  height: 100vh;
  width: 20%;
  padding: 24px 0;
  position: fixed;
  top: 0;
  left: 0;
}

.header__logo {
  font-size: 20px;
  margin-bottom: 48px;
  padding: 0 24px;
}

.header__nav li {
  list-style: none;
  border-top: 1px solid #fff;
}
.header__nav li a {
  color: #fff;
  text-decoration: none;
  padding: 16px 24px;
  display: block;
  transition: all 0.3s ease-in-out;
}
.header__nav li a:hover {
  background: #cda6ff;
}

.maincontents {
  padding-left: 22%;
  background-color: #f0f0f0;
  padding-bottom: 64px;
}

.firstview {
  padding: 48px;
}

.fv__ttl {
  font-size: 48px;
  margin-bottom: 24px;
}

.fv__caption {
  font-size: 20px;
  margin-bottom: 24px;
}

.fv__index-ttl {
  margin-bottom: 16px;
}

.fv__cont-list {
  padding-left: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}
.fv__cont-list li {
  width: 32%;
  margin-bottom: 16px;
}
.fv__cont-list li a {
  color: #5109ad;
}

.acco__card {
  background-color: #fff;
  border: 1px solid #f0f0f0;
  padding: 24px;
  border-radius: 8px;
  position: relative;
}

.acco__answer {
  margin-top: 16px;
  display: none;
}

.acco__btn {
  top: 16px;
  right: 16px;
  width: 44px;
  height: 44px;
  background: #5109ad;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .acco__btn {
    display: block;
  }
}

.acco__btn::before,
.acco__btn::after {
  content: "";
  position: absolute;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.acco__btn::before {
  width: 60%;
  height: 3px;
  top: 21px;
  left: 9px;
}

.acco__btn::after {
  width: 3px;
  height: 60%;
  top: 9px;
  left: 21px;
}

.turn.acco__btn::before,
.turn.acco__btn::after {
  transform: translateY(0) rotate(135deg);
}

.black__cont {
  display: flex;
  gap: 24px;
  margin-bottom: 48px;
}

.black__box--01 {
  padding: 24px;
  font-size: 20px;
  width: 100%;
  max-width: 200px;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.black__box--02 {
  padding: 24px;
  font-size: 20px;
  width: 100%;
  max-width: 200px;
  background-color: #1c1c1c;
  color: #fff;
  text-align: center;
}

.black__box--03 {
  padding: 24px;
  font-size: 20px;
  width: 100%;
  max-width: 200px;
  background-color: #212121;
  color: #fff;
  text-align: center;
}

.black__list li {
  padding: 16px;
  font-size: 16px;
  list-style: none;
  margin-bottom: 16px;
  background-color: #fff;
}
.black__list li:nth-child(1) {
  color: #000;
}
.black__list li:nth-child(2) {
  color: #1c1c1c;
}
.black__list li:nth-child(3) {
  color: #212121;
}

.btn__label-cont {
  display: flex;
  gap: 48px;
}

.btn__cont {
  display: flex;
  gap: 48px;
  margin-bottom: 24px;
}

.btn {
  max-width: 230px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  padding: 20px 8px;
  background: linear-gradient(135deg, #a565f8 0%, #39abff 100%);
  color: #fff;
  border-radius: 100px;
  font-weight: 500;
  display: block;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
.btn:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
  background: linear-gradient(135deg, #a555e8 0%, #299bef 100%);
}
@media (max-width: 768px) {
  .btn {
    max-width: 100%;
    padding: 16px 8px;
  }
}

.btn--wrong01 {
  background: #5109ad;
}
.btn--wrong01:hover {
  background: #41019d;
}

.btn--wrong02 {
  background: #cda6ff;
}
.btn--wrong02:hover {
  background: #bd96ef;
}

.btn--good01 {
  background: #fff;
  border: 1px solid #a565f8;
  color: #a565f8;
}
.btn--good01:hover {
  border-color: #5109ad;
  color: #5109ad;
  background: #fff;
}

.btn--good02 {
  color: #a565f8;
  max-width: 230px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  padding: 20px 8px;
  transition: all 0.3s ease-in-out;
}
.btn--good02:hover {
  color: #5109ad;
}

.btn--wrong03:hover {
  border: 1px solid #5109ad;
  background: #fff;
  color: #5109ad;
  box-shadow: none;
  transform: translateY(0px);
  padding: 19px 8px;
}/*# sourceMappingURL=style.css.map */