// 色の定義

$primary-color-grad: linear-gradient(135deg, #a565f8 0%, #39abff 100%);
$primary-color-plain:#a565f8;
$secondary-color:#5109ad;
$tertiary-color:#cda6ff;
$bgc-purple:#f1eafa;


$primary100:#f6f0fe;
$primary400:#dbc1fc;
$primary700:#a565f8;
$primary900:#502a82;

$neutral-black:#343A40;
$neutral-glay:#f0f0f0;
$neutral-glay500:#e0e0e0;
$neutral-glay800:#909090;
$neutral-white:#fff;


$MainColor:#1c1e31;
$BaseColor1:#fff;
$BGC-glay:#f0f0f0;
// $BaseColor2:;
// $AccentColor1:;
// $AccentColor2:;
// $InnerMask:rgba(54,54,54,0.6);
