// 色の定義

$primary-color-grad: linear-gradient(135deg, #a565f8 0%, #39abff 100%);
$primary-color-plain:#a565f8;
$secondary-color:#5109ad;
$tertiary-color:#cda6ff;

$bgc-purple:#f1eafa;

$neutral-black:#343A40;
$neutral-glay:#f0f0f0;
$neutral-glay500:#e0e0e0;
$neutral-white:#fff;


$MainColor:#1c1e31;
$BaseColor1:#fff;
$BGC-glay:#f0f0f0;
// $BaseColor2:;
// $AccentColor1:;
// $AccentColor2:;
// $InnerMask:rgba(54,54,54,0.6);
