// 色の定義



// Primary
$PrimaryHigher:#2e1f7c;
$PrimaryHigh:#573ED3;
$PrimaryDefault:#6b4eff;
$PrimaryLow:#a695ff;
$PrimaryLower:#e5ddff;
$PrimaryLowest:#f0edff;

// Border
$BorderDefault:#d6d6d6;
$BorderPrimaryAccent:#2e1f7c;

// BackGround
$BgDefault:#fff;
$BgSubtle:#f0f0f0;
$BgPurple:#f5f3fc;

// Text
$TextDefault:#404040;
$TextSubtle:#6e6e6e;
$TextInverse:#fff;
$TextLink:#2563eb;




// 以下消す
$primary-color-grad: linear-gradient(135deg, #6f23d0 0%, #10bae9 100%);
$primary-color-plain:#6f23d0;
$secondary-color:#43157d;
$tertiary-color:#a97be3;
$bgc-purple:#f1e9fa;


$primary100:#f6f0fe;
$primary400:#dbc1fc;
$primary700:#a565f8;
$primary900:#502a82;

$neutral-black:#343A40;
$neutral-glay:#f0f0f0;
$neutral-glay500:#e0e0e0;
$neutral-glay800:#909090;
$neutral-white:#fff;


$MainColor:#1c1e31;
$BaseColor1:#fff;
$BGC-glay:#f0f0f0;
// $BaseColor2:;
// $AccentColor1:;
// $AccentColor2:;
// $InnerMask:rgba(54,54,54,0.6);
